/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
